<div class="home-main-container">
  <div class="home-header">
    <div class="color-blue heading" style="display: flex; align-items: center;">
        <img src="/assets/imgs/logo.png" style="height: 120px; width: 120px; margin-right: 60px;">
        GxP Prime
    </div>
  </div>
  <div class="home-content">
    <div class="home-content-container">
      <div class="home-content-container-divs">
        <img src="./assets/imgs/traceability.png" alt="traceability" style="height: 100px; width: 100px; margin-bottom: 32px;" />
        <div class="color-white label">Traceability</div>
      </div>
      <div class="home-content-container-divs">
        <img src="./assets/imgs/accountability.png" alt="accountability" style="height: 100px; width: 100px; margin-bottom: 32px;"
        />
        <div class="color-white label">Accountability</div>
      </div>
      <div class="home-content-container-divs">
        <img src="./assets/imgs/immutability.png" alt="immutability" style="height: 100px; width: 100px; margin-bottom: 32px;"
        />
        <div class="color-white label">Immutability</div>
      </div>
    </div>
    <div class="login-container">
      <div>
        <div class="color-white label login-container-heading">Log In</div>
      </div>
      <div>
        <input id="userName" class="color-white text home-input" type="text" placeholder="Enter username" required />
        <br>
        <input class="color-white text home-input" type="password" placeholder="Enter password" required />
      </div>
      <div>
        <button class="btn-1 btn-dark text" (click)="logIn()">Log In</button>
      </div>
    </div>
  </div>
</div>